body{display: flex; flex-direction: row; 
    font-family: 'Indie Flower', cursive; margin: 0; background-color: rgb(255, 255, 255);
     -webkit-overflow-scrolling: touch; scroll-behavior: smooth; background-color: rgb(255, 255, 255);



}
    ::-webkit-scrollbar{display: none;}

/*  Navigation  */    
    #navigation{
        display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding-top: 2rem; flex-shrink: 0;
        min-width: 25%; height: 96.5vh;  background-color: rgb(255, 254, 200); 
    
        background: rgb(232, 232, 232);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-right:1px rgb(0, 0, 0) solid;
    }
    #pf{
        width: 10rem; height: 10rem;  background-color: rgb(255, 145, 0); 
        background-size: cover; background-position: center; border-radius: 50%; 
        background-image: url("../imgs/pf.png"); margin-top:2rem;
    }
    #navbox{
        display: flex; justify-content: center; flex-direction: column; align-items: center;
    }
    .link{
        display: flex; flex-direction: column; padding: 1rem; width: 150%;
        text-decoration: none; color: black; border: 2px solid black;
        text-align: center;
        margin: 1rem; border-radius: 12px;}
    .link:hover{
        border: 2px darkblue solid; color: red; background-color: rgb(0, 13, 128);color: white;}

/*  Main Box  */        
    #main-main{
        display: flex; justify-content: center; align-items: center; flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%; padding: 3rem;
    }
    #intruduction{
        width: 40%;
        font-size: x-large;
    }

    #namebox{
        width: auto;
    }
    #Name {
        display: inline-block;
        font-size: 250%;
        letter-spacing: 10px;
        width: 100%;
        height: auto;   
        border-right: 3px solid;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 1.1s steps(15) forwards, cursor .4s infinite  alternate step-end;
    }
    
    @keyframes typing {
        from {width: 0;}
    }
    @keyframes cursor{
        50%{border-color: transparent;}
    }
    
    
    
    #info{
        display: inline-block; justify-content: center; align-items: center;
        font-size: 150%; text-align: center;
        width: 80%; height: auto;
    }
    #myimg{
        display: none;
    }
    #conntact{
        background-color: darkblue;
        color: white;
    }
    #form{
        width: 60%; height: auto;
        display: flex; justify-content: center; align-items: center; flex-direction: column;
    }
    input{
        font-family: 'Indie Flower', cursive;
        border: 0px solid transparent;
        border-bottom: 2px solid rgb(68, 0, 194);
        height: 1.3rem; width: auto;
        background-color: transparent;
        margin: 0.2rem;
        outline: none;
    }
    textarea{
        font-family: 'Indie Flower', cursive;
        margin-top: 0.5rem;
        border: 2px solid rgb(68, 0, 194);
        border-radius: 4px;
        width: 80%; height: 50%;
        outline: none;
    }
    #sm{
        background-color: red;
        margin-bottom: 5%; width: 100%; height: auto;
        display: flex; justify-content: space-around; align-items: center; flex-direction: row;
    }


    #instagram{
        min-width: 2rem; min-height: 2rem;
        background-image: url("../icons/instagram.png");
        background-size: cover; background-position: center;
    }
    #telegram{
        min-width: 2rem; min-height: 2rem;
        background-image: url("../icons/telegram.png");
        background-size: cover; background-position: center;
    }
    #github{
        min-width: 2rem; min-height: 2rem;
        background-image: url("../icons/github.png");
        background-size: cover; background-position: center;
    }

    
    

/*  Phone  */    
    @media(max-width: 1157px){


        .link:hover{
            background-color: transparent; border: 0px solid transparent;
        }

        #menu{
            z-index: 3;
            width: 3rem; height: 3rem; position: fixed; left: 1rem; top: 1rem;
            background-image: url("../icons/menu-bar.png"); 
            background-position: center; background-size: cover;
        }
        #close-menu{
            display: none;
            z-index: 3;
            width: 3rem; height: 3rem; position: fixed; left: 1rem; top: 1rem;
            background-image: url("../icons/delete.png"); 
            background-position: center; background-size: cover;
        }
        #navigation{
            display: flex; justify-content: center; align-items: center;
            width: 100%; height: 10%;  position: fixed; top: 90%; 
            padding: 0;
            background-color: transparent;
        }
        #navbox{
            display: flex; justify-content: center; align-items: center; flex-direction: row; margin: 0;
        }
        .link{
            display: flex;
            width: 1rem; height: 1rem; border-radius: 0px; border: 0px solid transparent;
        }
        #main-main{
            display: flex; justify-content: center; align-items: center; height: 80vh;
            padding: 3rem;
        }

        textarea{
            margin-top: 0.5rem;
            border: 2px solid rgb(68, 0, 194);
            border-radius: 4px;
            width: 100%; height: auto;
        }
        #sm{
            display: none;
        }

        #Name{
            font-size: 180%;
        }
        #myimg{
            display: none;
            width: 20vh; height: 20vh; border-radius: 50%; 
           background-color: greenyellow;
           background-image: url("../imgs/pf.png");
           background-size: cover; background-position: center;
        }

        #pf{
            display: none;
            background-image: url("../imgs/pf.png"); 
        }
        #navname{
            display: none;
        }
        #About{
            background-image: url("../icons/home.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #skills{
            background-image: url("../icons/skills.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #projects{
            background-image: url("../icons/projects.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #email{
            background-image: url("../icons/email.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #instagram{
            background-image: url("../icons/instagram.png");
        }
        #telegram{
            background-image: url("../icons/telegram.png");
        }
        #github{
            background-image: url("../icons/github.png");
        }
    
    }