html{
    scroll-behavior:smooth;
}
body{display: flex; flex-direction: row;
    font-family: 'Indie Flower', cursive; margin: 0; background-color: rgb(255, 255, 255);
     -webkit-overflow-scrolling: touch; scroll-behavior: smooth; background-color: rgb(255, 255, 255);



}
    ::-webkit-scrollbar{display: none;}

/*  Navigation  */    
    /* Top part of the Navigation */
    #navigation{
        display: flex; flex-direction: column; align-items:center; padding-top: 2rem; flex-shrink: 0; justify-content: space-between;
        min-width: 25dvw; height: 96.5vh;  background-color: rgb(255, 254, 200); 
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-right:1px rgb(0, 0, 0) solid;
        position: fixed; 
    }
    #navbox{
        display: flex; justify-content: center; flex-direction: column; align-items: center;
    }
    #pf{
        width: 10rem; height: 10rem;  background-color: rgb(255, 145, 0); 
        background-size: cover; background-position: center; border-radius: 50%; 
        background-image: url(imgs/pf.png); margin-top:2rem;
    }
    .link{
        display: flex; flex-direction: column; padding: 1rem; width: 120%;
        text-decoration: none; color: black; border: 2px solid black;
        text-align: center;
        margin: 1rem; border-radius: 12px;}
    .link:hover{
        border: 2px darkblue solid; color: red; background-color: rgb(0, 13, 128);color: white;}

    #info{
        display: inline-block; justify-content: center; align-items: center;
        font-size: 150%; text-align: center;
        width: 80%; height: auto;
    }
    
    #home{
        background-color: darkblue;
        color: white;
    }  
    .media{
        width: 1rem; height: 1rem; ;
    }    
    a{
        text-decoration: none;
        color: black;
    }
    /* Bottom part of the Navigation */
    #mbox{
        display: flex; justify-content: space-around; align-items: center; width: 100%;
    }


/*  Main Box  */        
    #main-section{
        display: flex; justify-content: center; align-items: center; flex-direction: column;
        width: 100%; height: auto; margin-left: 25dvw;
        scroll-snap-type: y mandatory;
    }
    .page{
        scroll-snap-align: start;
    }
    #intruduction{
        width: 40%;
        font-size: x-large;
    }
    #namebox{
        width: auto;
    }
    #Name {
        display: inline-block;
        font-size: 250%;
        letter-spacing: 10px;
        width: 100%;
        height: auto;   
        border-right: 3px solid;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 1.1s steps(13) forwards, cursor .4s infinite  alternate step-end;
    }
    #myimg{
        display: none;
    }
    #home-section{
        display: flex; justify-content: center; align-items: center ; flex-direction: column;
        width: 100%; height: 100dvh;
        background-color: honeydew;
    }
    #skills-section{
        display: flex; justify-content: center; align-items: center;                 
        width: 100%; height: 100dvh;
        background-color: azure;
    }
    #project-section{
        display: flex; justify-content: center; align-items: center ; flex-direction: column;
        width: 100%; height: 100dvh;
        background-color: rgb(243, 243, 231);
    }
    #project-box{
        width: 50dvw; height: 60dvh;
        border-radius: 30px 0px 30px 0px;
        border: 3px black solid;
        background-color: rgb(249, 255, 238);
        background-image: url(./imgs/ZombieSlayer.png);
        background-size: cover; background-position: center;
    }
    #project-names{
        display: flex; flex-direction: row; width: 50dvw; height: auto; 
        justify-content: space-around;
        flex-wrap: nowrap; 
    }
    .project-link{
        display: flex; justify-content: center; align-items: center;

         border-radius: 5px; 
    }

    #conntact-section{
        display:flex ; justify-content: center; align-items: center; flex-direction: column;
        width: 100%; height: 100dvh;
        background-color: rgb(249, 255, 238);
    }
    form{
        width: 50%;
        display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: wrap;
    }
    input, textarea{
        min-width: 40%;
        font-family: 'Indie Flower', cursive;
        border: solid transparent 0px; padding: 5px; margin: 5px;
        background-color: transparent;
        border: 2px darkblue solid;
    }
    textarea{
        min-width: 86%;
    }
    button{
        min-width: 15%;
        font-family: 'Indie Flower', cursive;
        border: solid transparent 0px; padding: 5px; margin: 5px;
        background-color: transparent;
        border: 2px darkblue solid;
    }
    #massage{
        display: inline-block;
        font-size: 250%;
        letter-spacing: 1px;
        width:100%;
        height: auto;   
        border-right: 3px solid;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 1.1s steps(14) forwards, cursor .4s infinite  alternate step-end;
    }


    /* Animatioin */
    @keyframes typing {
        from {width: 0;}
    }
    @keyframes cursor{
        50%{border-color: transparent;}
    }
    
    

/*  Phone  */    
    @media(max-width: 1157px){
        body{ 
            display: flex; justify-content: center; align-items: center;
            padding: 0; margin: 0; background-color: white;
        }
        #navigation{
            display: none; justify-content: center; align-items: center;
            width: 100%; height: 10%;  position: fixed; top: 92dvh; 
            padding: 0;
            width: 100dvw; height: 8dvh;
            padding: 0; margin: 0;
            position: fixed;
            background-color: white;
        }
        #navbox{
            display: none; justify-content: space-around; align-items: center; flex-direction: row; margin: 0;
        }
        #pf{
            display: none;
            background-image: url("imgs/pf.png"); 
        }
        #navname{
            display: none;
        }
        #About{
            background-image: url("icons/home.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #skills{
            background-image: url("icons/skills.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #projects{
            background-image: url("icons/projects.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        #email{
            background-image: url("icons/email.png");
            background-position: center; background-size: cover;
            color: transparent;
        }
        .link{
            display: flex;
            max-width: 0.5dvw; max-height: 0.5dvw; border-radius: 0px; border: 0px solid transparent;
        }
        .link:hover{
            background-color: white; border: 0px transparent solid;
        }
        


        #main-section{
            display: flex; justify-content: center; align-items: center; height: 80dvh;
            padding: 3rem;
            width: 100dvw; height: auto;
            padding: 0; margin: 0;
        }
        #mbox{
            display: none;
        }
        #Name{
            font-size: 180%;
        }
        #info{
            font-size: 100%;
        }
        #myimg{
            display: flex;
            width: 20vh; height: 20vh; border-radius: 50%;      
           background-image: url("imgs/pf.png");
           background-size: cover; background-position: center;
        }
        /* Sections */
        #project-section{
            justify-content: start;
        }
        .project-box{
            border-radius: 15px 0 15px 0;
            width: 95dvw;
        }
        #project-names{
            padding-top: 5dvh;
            flex-wrap: wrap;
        }
        .project-link{
            padding: 0;
        }
        #conntact-section{
            display: flex;
        }
        form{
            width: 80dvw;
        }
        #massage{
            font-size: 180%;
        }

    
    }